# PostgreSQL
POSTGRES_USER=rideshare_admin
POSTGRES_PASSWORD=Admin@123456
POSTGRES_DB=rideshare_db

# Backend
PORT=3000
NODE_ENV=development
JWT_SECRET=change_this_to_random_string

# DB Nodes
DB_NORTH_PRIMARY_HOST=localhost
DB_NORTH_PRIMARY_PORT=5432
DB_NORTH_REPLICA_HOST=localhost
DB_NORTH_REPLICA_PORT=5433
DB_SOUTH_PRIMARY_HOST=localhost
DB_SOUTH_PRIMARY_PORT=5434
DB_SOUTH_REPLICA_HOST=localhost
DB_SOUTH_REPLICA_PORT=5435

# Health Check
HEALTH_CHECK_INTERVAL=5000
FAILOVER_TIMEOUT=3000